
//Create a style to chip with different colors
.p-chip.custom-success-chip {
    background: var(--green-200);
    color: var(--primary-color-text);
}
.p-chip.custom-warning-chip {
    background: var(--yellow-200);
    color: var(--primary-color-text);
}
